@media screen and (max-width:1199px) {

.homebody .text3 .block1{ width:100%; margin-right:16px;  background:#efeeee; border-radius:4px; text-align:center; vertical-align:middle; padding:40px 20px; font-size:40px; color:#5f5f5f; font-family:'Generica-Regular'; float:none; min-height:inherit; height:auto;}


.homebody .text3 .block2{ width:100%; margin-right:0;  float:none; min-height:inherit; height:auto; background:#efeeee; border-radius:4px; font-family:'OpenSans-Regular'; margin-top:20px; }



.homebody .text3 .block3{ width:100%; margin-right:0;  float:none; min-height:inherit; height:auto; background:#efeeee; border-radius:4px; font-family:'OpenSans-Regular'; margin-top:20px; }


.homebody .text3 .block4{ width:100%; margin-right:0;  float:none; min-height:inherit; height:auto; background:#efeeee; border-radius:4px; font-family:'OpenSans-Regular'; margin-top:20px; }

.copyright-text{ width:100%; margin:20px 0; float:none; text-align:center; font-size:13px; color:#5f5f5f;}

.footer-bottom .footer-logo{ width:228px; float: none; margin:0 auto; margin-bottom:20px;}

.tellink{ width:180px; float:none; margin:0 auto; display:block; margin-bottom:16px;}

}

@media screen and (max-width:991px) {
.top-contain{ width:100%; padding:0 0 0 0;  position:inherit; background:#000;  } 

.top-contain-wrapper{ background:url(../images/tbg.png); padding:22px 0;}

.signup-form-left{ width:80%; margin:0 auto; float:none;}

.signup-form-right{  width:80%; margin:0 auto; float:none;}

.registerbtn {
	background: #008ca0 url(../images/i6.png) no-repeat 37px center!important;
	width:260px;
	height:55px;
	margin:22px auto;
	border-radius:4px;
	border:none; display:block; margin:30px auto; cursor:pointer; text-align:center; font-size:22px; color:#fff;  font-family:'OpenSans-Regular'; padding-left:44px; 
}

.signup-form-wrapper .Plan-div{ margin:5px 0 0px 0; font-family:'OpenSans-Regular'; font-weight:normal; line-height:30px; color:#b5b5b5; }


.signup-form-wrapper .Paymentinfo{ margin:10px 0 8px 0; font-family:'OpenSans-Regular'; font-weight:normal; }




}

@media screen and (max-width:765px) {



.top-contain .logo{ width:228px; float:none; margin:0 auto;}


.top-contain .top-right{ width:365px; float:none; margin:0 auto; margin-top:40px;}


}

@media screen and (max-width:700px) {

.signup-form-left{ width:100%; margin:0 auto; float:none;}

.signup-form-right{  width:100%; margin:0 auto; float:none;}

}



@media screen and (max-width:580px) {


.top-contain .top-right{ width:100%; float:none; margin:0 auto; margin-top:40px;}

.top-contain .top-right .icon-div{ float:none; margin:0 auto;}
.top-contain .top-right .signdiv{ float:none; margin:20px auto; text-align:center;}

.top-contain .top-right .menu-div{ float:none; margin:0 auto; width:100%;}
.top-contain .top-right .menu-div img{ width:28px; display:block; margin:0 auto;}

.top-contain .top-right .menu-div .menuul{ position:inherit; top:0; left:0; display:none; margin:0; padding:0; width:100%; background: url(../images/submenu.png) no-repeat top center; padding-top:9px;}
.top-contain .top-right .menu-div:focus .menuul{ display:block; }
.top-contain .top-right .menu-div .menuul ul{ display:block; width:100%;}
}




@media(max-width:720px) {
.shutter {
 width:70%;
 padding:0!important;
 margin:0 auto;
}


.shutter input[type="text"]{ width:90%; }

.shutter input[type="password"]{ width:90%;}

.shutter .subbtn{ width:90%; background:#008ca0 url(../images/i6.png) no-repeat  36% center;}
}


@media(max-width:600px) {
.shutter .subbtn{ width:90%; background:#008ca0 url(../images/i6.png) no-repeat  33% center;}
}


@media(max-width:500px) {
.shutter .subbtn{ width:90%; background:#008ca0 url(../images/i6.png) no-repeat  30% center;}
}


@media(max-width:425px) {
.shutter .subbtn{ width:90%; background:#008ca0 url(../images/i6.png) no-repeat  26% center;}
}

@media(max-width:380px) {
.shutter .subbtn{ background-image:none;}

}