
@media screen and (max-width:1920px) {
	.visit_wrapper .visit_body_block_top{padding-bottom: 108px;}

	.upcoming_event_wrapper .upcoming_event_wrapper_banner .upcoming_events_banner_cut2{width: 	49%; left: 51%;}
	.upcoming_event_banner_bottom{position: absolute; bottom: -6px; left: 51%; background:#989999; width: 49%; height: 6px; border-left: 10px solid #fff; border-top: 6px solid transparent;}
}
@media screen and (max-width:1830px) {
	.upcoming_event_banner_bottom{left: 55%;}
}
@media screen and (max-width:1700px) {
	.upcoming_event_banner_bottom{left: 60%;}
}
@media screen and (max-width:1600px) {
	.upcoming_event_banner_bottom{left: 62%;}
}
@media screen and (max-width:1500px) {

	.top_menu_block .pearl_menu_container{width: 96%; margin: 0 auto;}

	.top_menu_block .top_menu_block_right .navbar .container-fluid{padding: 0px;}
	.top_menu_block .top_menu_block_right .navbar .container-fluid .navbar-collapse{padding: 0px;}

	.upcoming_event_banner_bottom{left: 67%;}
}

@media screen and (max-width:1400px) {
	.upcoming_event_banner_bottom {
		left: 70%;
	}
}
@media screen and (max-width:1350px) {
	.top_menu_block .top_menu_block_right .navbar-nav > li > a{padding: 10px;}

	.upcoming_event_banner_bottom {
		left: 74%;
	}
}



@media screen and (max-width:1280px) {



.form_wrapper .form_blog label{ float:none; width:100%; line-height:35px;}

.form_wrapper .form_blog .input1{ width:96%; float:none;}

.form_wrapper .form_blog .year{ width:32%;}

.form_wrapper .form_blog .month{ width:32%;  margin: 0 1.5%;}

.form_wrapper .form_blog .date{ width:32%;}



.form_wrapper .form_blog2 label { float:none; width:100%; line-height:35px;}



.form_wrapper .form_blog2 .radio_blog {

    float: none;

    width: 100%;

}

.form_wrapper .form_blog .cardoption{ width:100%;}



.form_wrapper .form_blog .errormsg {

	font-size:12px;

	color:#ff0000;

	padding-left:0;

}

.pearl_body_container{width: 96%; margin: 0 auto; padding: 0 15px;}
.header_top_block .header_top_block_left{padding-left: 15px;}
.header_top_block .header_top_block_right{ padding-right: 15px;}

	.upcoming_event_banner_bottom {
		left: 78%;
	}

}

@media screen and (max-width:1250px) {
	.top_menu_block .top_menu_block_right .navbar-nav > li > a{padding: 6px;}
}

@media screen and (max-width:1224px) {
	.footer_top_section .foot_address_section{width: 98%; margin: 0 auto; margin-top: -59px; float: none;}
	.home_block1{padding:0 15px;}
	.home_block2{padding: 0px 15px;}
	.home_block3{width: inherit; padding: 0 15px; padding-top: 29%; background-size: cover;}
	.home_specialist_block{padding: 0 15px;}
	.home_specialist_block .home_specialist_block_content{padding: 0 8px 0 8px;}

	.specialist_bottom{padding: 0 15px;}
	.specialist_bottom .specialist_bottom_btn{padding-right: 15px;}
	.specialist_bottom .specialist_bottom_btn .home_block3_learnbtn{width: 100%;}
	.home_appoinment_block{width: inherit; padding: 0 15px 45px 15px;}

	.upcoming_event_body_wrapper{padding: 0 15px;}
	.upcoming_event_body_wrapper .upcoming_event_body_wrapper_section{padding: 0 15px;}

	.upcoming_event_body_gellary{padding: 0px 15px;}
	.upcoming_event_body_gellary .upcoming_event_body_gellary_block_left{padding-left: 15px;}
	.upcoming_event_body_gellary .upcoming_event_body_gellary_block_right{padding-right: 15px;}
	.upcoming_event_body_gellary .upcoming_event_body_gellary_block_content .upcoming_event_body_gellary_imgblock{ width: 93%;}
	.upcoming_event_body_gellary .upcoming_event_body_gellary_block_content .upcoming_event_body_gellary_block_left{width: 37%;}

	.mission_body_gellary{padding: 0 15px;}
	.mission_body_gellary .mission_body_gellary_section{padding: 0 15px;}
	.mission_body_gellary .mission_body_gellary_section .mission_body_gellary_content{padding-bottom: 5px;}
	.mission_body_bottom{padding: 0 15px;}
	.mission_body_bottom .mission_body_bottom_section{padding: 0 15px;}

	.contact_wrapper{padding: 0 15px;}
	.contact_body_section{padding: 0 15px;}

	.psychiatry_wrapper{padding: 0px 15px;}
	.psychiatry_body_section1{padding: 0px 15px;}
	.psychiatry_body_section1 .psychiatry_body_section1_left{padding-left: 15px;}
	.psychiatry_body_section2{padding: 0px 15px;}
	.psychiatry_body_section2 .psychiatry_body_section2_content{padding: 0px 15px; margin: 10px 0;}
	.psychiatry_body_section3{padding: 0px 15px;}
	.psychiatry_body_section3 .psychiatry_body_section3_content{padding: 20px 0px 11px 40px; width: 98%; margin: 0 auto; display: block; float: none;}


	.counselling_wrapper{padding: 0px 15px;}
	.counselling_body_section1{padding: 0px 15px;}
	.counselling_body_section1 .counselling_body_section1_left{padding: 0px 15px;}
	.counselling_body_section2{padding: 0px 15px;}
	.counselling_body_section2 .counselling_body_section2_content{padding: 0px 15px;}
	.counselling_body_section3{padding: 0px 15px;}
	.counselling_body_section3 .counselling_body_section3_content{width: 98%; margin: 0 auto; display: block; float: none;}

}


@media screen and (max-width:1200px) {

	.top_menu_block_left{float: none; width: 100%; margin: 10px auto;}
	.top_menu_block_left img{display: block; margin: 0 auto;}
	.top_menu_block_right{float: none; width: 100%; margin: 10px auto;}
	.top_menu_block .top_menu_block_right .navbar .container-fluid{padding: 0 15px;}
	.top_menu_block .top_menu_block_right .navbar .container-fluid .navbar-collapse{padding: 0 15px;}
	.top_menu_block .top_menu_block_right .navbar .container-fluid .navbar-collapse .navbar-nav{float: none; margin: 0 auto;}
	.top_menu_block .top_menu_block_right .navbar-nav > li > a{padding: 10px;}



}
@media screen and (max-width:1199px) {
	.pearl_body_container{width: inherit; padding: 0 15px;}


	.foot_main_section .foot_main_section_content{padding: 0 15px; float: none; width: 100%; display: block;}
	.foot_main_section .foot_main_section_content h1{text-align: center; background: url("../images/sidemap_line.png") no-repeat center bottom;}
	.foot_main_section .foot_main_section_content img{margin: 0 auto; display: block;}
	.foot_main_section .foot_main_section_content:first-child{padding-left: 15px;}
	.foot_main_section .foot_main_section_content .hour_block .hour_block_left{width: 100%; display: block; text-align: center; float: none;}
	.foot_main_section .foot_main_section_content .hour_block .hour_block_right{width: 100%; float: none; display: block;}
	.foot_main_section .foot_main_section_content:nth-child(2){padding: 0 15px;}
	.foot_main_section .foot_main_section_content .footer_menu_block li{float: none; width: 100%; display: block; text-align: center;}
	.foot_main_section .foot_main_section_content .hour_block{width: 100%;}
	.foot_main_section .foot_main_section_content .footer_menu_block{width: 100%;}
	.foot_main_section_content_last{width: 100%; float: none; text-align: center; margin-top: 50px;}
	.foot_main_section .foot_main_section_content .foot_social_icon_div a{height: 32px;}
	.foot_main_section .foot_main_section_content .foot_social_icon_div a.update_text{vertical-align: top;}

	.home_block1 .home_block1_section .home_block1_section_inner{height: 222px;}

	.home_block2 .home_block2_left{padding: 0 15px; float: none; margin: 15px auto; display: block; width: 465px;}
	.home_block2 .home_block2_right{padding: 0 15px; float: none; margin: 0 auto; display: block; width: 100%;}

	.home_specialist_block .home_specialist_block_content{padding: 0 15px;}
	.home_specialist_block .home_specialist_block_left{padding: 0 15px;}
	.home_specialist_block .home_specialist_block_right{padding: 0 15px;}

	.services_wrapper{padding: 0 15px;  padding-top: 103px; margin-bottom: -113px;}
	.services_wrapper .services_body_block{width: 90%; margin: 98px auto; padding: 0 15px;}
	.services_wrapper .services_body_block .services_body_block_content{padding: 0 15px 0 0;}

	.planning_block_content_imgblock{height: 86px;}
	.visit_wrapper .visit_body_block_top .visit_body_block_top_section{padding: 0 15px;}
	.visit_wrapper .visit_body_block_top .visit_body_block_top_section .visit_body_block_top_section_content{padding: 0 15px;}
	.visit_wrapper .visit_body_block_top{margin-top: -193px; padding-top: 230px; padding-bottom: 90px;}
	.visit_wrapper .visit_body_block_top .visit_body_block_top_section .visit_body_block_top_section_content .planning_block{width: 100%;}
	.planning_block_content1{height: 283px;}

	.planning_block_content2{height: 327px;}

	.upcoming_event_banner_bottom {
		left: 82%;
	}
	.upcoming_event_wrapper .upcoming_event_wrapper_banner{margin-top: -193px;}
	.upcoming_event_body_gellary .upcoming_event_body_gellary_block_content{background: #d3d3d3; padding: 40px; text-align: center;}
	.upcoming_event_body_gellary .upcoming_event_body_gellary_block_content .upcoming_event_body_gellary_imgblock{width: 100%;}
	.upcoming_event_body_gellary .upcoming_event_body_gellary_block_content .upcoming_event_body_gellary_block_left{width: 100%; float: none; padding: 0px;}
	.upcoming_event_body_gellary .upcoming_event_body_gellary_block_content h3 img{display: block; margin: 3px auto;}
	.upcoming_event_body_gellary .upcoming_event_body_gellary_block_content h3 span{float: none; display: block; margin: 6px auto;}
	.upcoming_event_body_gellary .upcoming_event_body_gellary_block_content .upcoming_event_body_gellary_block_right{width: 100%; float: none;}


	.mission_body_gellary .mission_body_gellary_section .mission_body_gellary_content p .mission_body_gellary_imgblock{width: 50%;}
	.mission_body_gellary .mission_body_gellary_section .mission_body_gellary_content p .mission_body_gellary_imgblock img{width: 100%;}

	.contact_form_section .contact_form_section_content{width: 100%;}

	.psychiatry_body_section1 .psychiatry_body_section1_left{width: 80%; margin: 0 auto; display: block; float: none;}
	.psychiatry_body_section1 .psychiatry_body_section1_right{width: 100%; text-align: center; float: none; padding: 0 15px;}
	.psychiatry_body_section1 .psychiatry_body_section1_right .psychiatry_body_line{margin: 7px auto; display: block;}
	.psychiatry_body_section1 .psychiatry_body_section1_right ul{margin-top: 20px;}
	.psychiatry_body_section1 .psychiatry_body_section1_right li{background: url("../images/psychiatry_body_icon2.png") no-repeat center top; padding: 30px 0 0 0}
	.psychiatry_body_section2 .psychiatry_body_section2_content{text-align: center;}
	.psychiatry_body_section3 .psychiatry_body_section3_content{background: #8ab835; text-align: center; padding: 20px; width: 100%;}
	.psychiatry_body_section3 .psychiatry_body_section3_content .psychiatry_bookbtn{display: block; margin: 10px auto;}
}

@media screen and (max-width:1130px) {
	.upcoming_event_banner_bottom {
		left: 86%;
	}


}




@media screen and (max-width:1100px) {





	.table_body td .tlink1 {
		margin-right: 5px;
	}

	.table_body td .tlink2 {
		margin-right: 5px;
	}

	.table_body td .tlink3 {
		margin-right: 5px;
	}

	.table_body td .tlink4 {
		margin-right: 0px;
	}




		.upcoming_event_banner_bottom {
			left: 90%;
		}

	.upcoming_event_wrapper .upcoming_event_wrapper_banner img{position: absolute; bottom: 0px; left: -30%;}




}


@media screen and (max-width:1024px) {
	.upcoming_event_banner_bottom {
		left: 94%;
	}
}
@media screen and (max-width:991px) {

.table_body th { display:none;}



.table_body td { display:block; width:96%; padding:10px 2%; text-align:left;}



.consectetur_link_div label{ display:block; width:100%; text-align:center;  float:none;}



.consectetur_link_div .member_pic{ width:100%; float:none; text-align:center;}



.consectetur_link_div .add_members{ display:block; float:none; margin:0 auto;}



.folderdetail_link_div{ width:370px; margin:20px auto;}

.folderdetail_link_div .flink1{ display:block; margin-bottom:5px; width:100px; float:left; margin-right:0px;}

.folderdetail_link_div .flink2{ display:block; margin-bottom:5px; width:100px; float:left;  margin-right:0px;}

.folderdetail_link_div .flink3{ display:block; margin-bottom:5px; width:100px; float:left;  margin-right:0px;}

.folderdetail_link_div .flink4{ display:block; margin-bottom:5px; width:100px; float:left;  margin-right:0px;}

.folderdetail_link_div .flink5{ display:block; margin-bottom:5px; width:100px; float:left;  margin-right:0px;}

.folderdetail_link_div .flink6{ display:block; margin-bottom:5px; width:100px; float:left;  margin-right:0px;}



.form_wrapper .formpart1 {

	width:100%;

	float:none;

}

.form_wrapper .formpart2 {

	width:100%;

	float:none;

}
/*-------------------------------------------------------*/

	.footer_top_section .foot_address_section .foot_address_block1{text-align: center; height: auto; padding: 18px 0 10px 0;}
	.home_block1 .home_block1_section_bottom{border-bottom: 1px solid #d6dedf!important;}
	.footer_top_section .foot_address_section .foot_address_block1 .foot_address_block1_content{background: url("../images/clinic_icon.png") no-repeat top center; height: auto; padding: 66px 0 0 0;}
	.footer_top_section .foot_address_section .foot_address_block2{text-align: center; height: auto; padding: 18px 0 10px 0; border: none;}
	.footer_top_section .foot_address_section .foot_address_block2 .foot_address_block2_content{background: url("../images/phone_icon.png") no-repeat top center; height: auto; padding: 66px 0 0 0;}
	.footer_top_section .foot_address_section .foot_address_block3{text-align: center; height: auto; padding: 18px 0 10px 0;}
	.footer_top_section .foot_address_section .foot_address_block3 .foot_address_block3_content{background: url("../images/message_icon.png") no-repeat top center; height: auto; padding: 66px 0 0 0;}

	.home_block1 .home_block1_section{float: none; width: 100%; text-align: center; border-right:none; padding: 0px 15px; margin: 0px; }
	.home_block1 .home_block1_section .home_block1_section_inner{height: auto; }
	.home_block1 .home_block1_section .home_block1_section_inner1{ background: url("../images/home_block1_img1.png") no-repeat center top; margin:20px 0 0 0px; padding:100px 0 20px 0;}
	.home_block1 .home_block1_section .home_block1_section_inner2{ background: url("../images/home_block1_img2.png") no-repeat center top; margin:20px 0 0 0px; padding:100px 0 20px 0;}
	.home_block1 .home_block1_section .home_block1_section_inner3{ background: url("../images/home_block1_img3.png") no-repeat center top; margin:20px 0 0 0px; padding: 100px 0 20px 0;}
	.home_block1 .home_block1_section .home_block1_section_inner4{ background: url("../images/home_block1_img4.png") no-repeat center top; margin:20px 0 0 0px; padding: 100px 0 20px 0;}
	.home_block1 .home_block1_section .home_block1_section_inner5{ background: url("../images/home_block1_img5.png") no-repeat center top; margin:20px 0 0 0px; padding: 100px 0 20px 0;}
	.home_block1 .home_block1_section .home_block1_section_inner6{ background: url("../images/home_block1_img6.png") no-repeat center top; margin:20px 0 0 0px; padding: 100px 0 20px 0;}
	.home_block1 .home_block1_section .home_block1_section_inner7{ background: url("../images/home_block1_img7.png") no-repeat center top; margin:20px 0 0 0px; padding: 100px 0 20px 0;}
	.home_block1 .home_block1_section .home_block1_section_inner8{ background: url("../images/home_block1_img8.png") no-repeat center top; margin:20px 0 0 0px; padding: 100px 0 20px 0;}
	.home_block1 .home_block1_section .home_block1_section_inner9{ background: url("../images/home_block1_img9.png") no-repeat center top; margin:20px 0 0 0px; padding: 100px 0 20px 0;}


	.home_block1 .home_block1_section:hover .home_block1_section_inner1{ background: url("../images/home_block1_img1_hover.png") no-repeat center top; margin:20px 0 0 0px; padding: 100px 0 20px 0;}
	.home_block1 .home_block1_section:hover .home_block1_section_inner2{ background: url("../images/home_block1_img2_hover.png") no-repeat center top; margin:20px 0 0 0px; padding: 100px 0 20px 0;}
	.home_block1 .home_block1_section:hover .home_block1_section_inner3{ background: url("../images/home_block1_img3_hover.png") no-repeat center top; margin:20px 0 0 0px; padding: 100px 0 20px 0;}
	.home_block1 .home_block1_section:hover .home_block1_section_inner4{ background: url("../images/home_block1_img4_hover.png") no-repeat center top; margin:20px 0 0 0px; padding: 100px 0 20px 0;}
	.home_block1 .home_block1_section:hover .home_block1_section_inner5{ background: url("../images/home_block1_img5_hover.png") no-repeat center top; margin:20px 0 0 0px; padding: 100px 0 20px 0;}
	.home_block1 .home_block1_section:hover .home_block1_section_inner6{ background: url("../images/home_block1_img6_hover.png") no-repeat center top; margin:20px 0 0 0px; padding: 100px 0 20px 0;}
	.home_block1 .home_block1_section:hover .home_block1_section_inner7{ background: url("../images/home_block1_img7_hover.png") no-repeat center top; margin:20px 0 0 0px; padding: 100px 0 20px 0;}
	.home_block1 .home_block1_section:hover .home_block1_section_inner8{ background: url("../images/home_block1_img8_hover.png") no-repeat center top; margin:20px 0 0 0px; padding: 100px 0 20px 0;}
	.home_block1 .home_block1_section:hover .home_block1_section_inner9{ background: url("../images/home_block1_img9_hover.png") no-repeat center top; margin:20px 0 0 0px; padding: 100px 0 20px 0;}


	.home_specialist_block{text-align: center;}
	.home_specialist_block .home_specialist_block_content{height: auto; border-bottom: 1px solid #9aca42; padding-bottom: 15px;}
	.home_specialist_block .home_specialist_block_content:last-child{border-bottom: 0px;}
	.home_specialist_block .home_specialist_imgblock{float: none; margin: 10px auto;}
	.home_specialist_block .home_specialist_descblock{float: none; margin: 0 auto; width: 100%;}
	.home_specialist_block h2{border-bottom: none;}

	.specialist_bottom .specialist_bottom_btn .home_block3_learnbtn{width: 204px; display: block; margin: 0 auto;}

	.home_appoinment_block{background: #e7eae8;}
	.home_appoinment_block .home_appoinment_block_content{float: none; padding: 30px 15px 0 15px;}
	.home_appoinment_block .home_appoinment_block_content .home_appoinment_block_form{float: none; margin: 30px auto;}

	.services_wrapper{height: auto;}
	.services_wrapper .services_body_block .services_body_block_content_top{height: auto;}
	.services_wrapper .services_body_block .services_body_block_content{float: none; width: 100%; padding: 0 15px;}
	.services_wrapper .services_body_block .services_body_block_content img{display: block; margin: 10px auto; float: none;}
	.services_wrapper .services_body_block .services_body_block_content span{display: block; margin: 0 auto; text-align: center; float: none;}


	.visit_wrapper .visit_body_block_top .visit_body_block_top_section .visit_body_block_top_section_content h1{font-size: 40px; line-height: 45px; letter-spacing: 8px;}
	.visit_wrapper .visit_body_block_top .visit_body_block_top_section .visit_body_block_top_section_content h2{font-size: 28px;}
	.planning_block_content_imgblock{height: auto; margin: 15px auto;}
	.visit_wrapper .visit_body_block_top .visit_body_block_top_section .visit_body_block_top_section_content .planning_block .planning_block_top{padding: 15px 0;}
	.planning_block_content1{height: auto; margin: 0px;}

	.planning_block_content1 .planning_block_content1_left{background: #e4e4e4; float: none; width: 100%; padding:15px;}
	.planning_block_content1 .planning_block_content1_right{background: #fff; float: none; width: 100%; padding:15px;}
	.planning_block_content2{height: auto;}

	.planning_block_content2 .planning_block_content2_left{background: #e4e4e4; float: none; width: 100%; padding:15px;}
	.planning_block_content2 .planning_block_content2_right{background: #fff; float: none; width: 100%; padding:15px;}

	.visit_wrapper .visit_body_block_middle .visit_body_block_middle_line{width: 90%;}

	.upcoming_event_banner_bottom{display: none;}
	.upcoming_event_wrapper .upcoming_event_wrapper_banner img{display: none;}
	.upcoming_event_body_wrapper .upcoming_event_body_wrapper_section{margin:15px auto; text-align: center;}
	.upcoming_event_body_wrapper .upcoming_event_body_wrapper_section h1{margin-bottom: 10px;}

	.upcoming_events_banner_cut{display: none;}

	.mission_body_gellary .mission_body_gellary_section .mission_body_gellary_content p .mission_body_gellary_imgblock{display: block; float: none; margin: 10px auto; border: 5px solid #fff; width: 70%;}
	.mission_body_gellary{text-align: center;}
	.mission_body_bottom{text-align: center;}
	.mission_body_bottom .mission_body_bottom_section p{background:url("../images/mission_body_icon2.png") no-repeat scroll top center; padding: 104px 0 0 0;}

	.contact_body_section .contact_body_section_map{margin-top: 0px;}
	.contact_form_section_address{text-align: center; margin-bottom: 20px;}
	.contact_form_section .contact_form_section_address .contact_form_section_addressline{margin: 6px auto; display: block;}

	.counselling_body_section1{margin: 0px auto;}
	.counselling_body_section1 .counselling_body_section1_left{text-align: center;}
	.counselling_body_section1 .counselling_body_section1_left .counselling_body_section1_left_content{border-left: 0px solid #9aca42; border-bottom: 2px solid #9aca42; padding-left: 0px; padding-bottom: 15px; margin-bottom: 15px;}
	.counselling_body_section1 .counselling_body_section1_right{padding-left: 15px; text-align: center;}
	.counselling_body_section1 .counselling_body_section1_right .counselling_body_line{margin: 10px auto; display: block;}
	.counselling_body_section1 .counselling_body_section1_right li{background: url("../images/psychiatry_body_icon2.png") no-repeat center top; padding: 28px 0 0 0;}
	.counselling_body_section2 .counselling_body_section2_content{text-align: center;}
	.counselling_body_section3 .counselling_body_section3_content{width: 100%; background: #b7b7b7; text-align: center;}
	.counselling_body_section3 .counselling_body_section3_content .counselling_book_block{width: 100%;}
	.counselling_body_section3 .counselling_body_section3_content .counselling_book_block .counselling_bookbtn{display: block; margin: 10px auto;}
}

@media screen and (max-width:767px) {


	.header_top_block .header_top_block_left{text-align: center;}
	.header_top_block .header_top_block_right .icon_content{float: none; margin: 10px auto; display: block;}

	.home_block3{background: none; padding: 0 15px; border: none; margin: 15px auto; text-align: center;}
	.home_block3 .home_block3_section{padding: 0 15px;}
	.home_block3 .home_block3_section .home_block3_section_content{background: #545554; float: none; display: block; width: 100%; padding: 30px; margin: 0 auto; height: auto;}
	.home_block3 .home_block3_section .home_block3_section_content h1{display: block; padding: 0px;}
	.home_block3 .home_block3_section .home_block3_section_content h1 img{display: block; float: none; margin: 0 auto; margin-bottom: 10px;}
	.home_block3 .home_block3_section .home_block3_section_content .home_block3_learnbtn{position: inherit; top: 0px; bottom: 0px; right: 0px; left: 0px; margin: 10px auto; display: block;}


	.visit_wrapper .visit_body_block_middle h1{padding: 0 15px;}

	.contact_body_section .contact_body_section_map{ height: 200px;}

	.psychiatry_body_section1 .psychiatry_body_section1_left .contact_body_section1_left_imgblock .psychiatry_body_imgtext1{position: inherit; top: 0px; bottom: 0px; left: 0px; right: 0px; width: 100%; text-align: center; display: block;}
	.psychiatry_body_section1 .psychiatry_body_section1_left .contact_body_section1_left_imgblock .psychiatry_body_imgtext2{position: inherit; top: 0px; bottom: 0px; left: 0px; right: 0px; width: 100%; text-align: center; display: block;}

}



@media screen and (max-width:720px) {

.top-div .logo{ float:none; margin:0 auto; margin-bottom:30px; overflow:hidden;}

.top-div .right-con{ float:none; margin:0 auto; margin-top:30px; }



.form_wrapper .buttondiv {

	width:100%;

	margin:20px auto;

}

.form_wrapper .buttondiv .savebtn {

	width:100%;

	margin: 5px auto;

	height:50px;

	float:none;

	background:#008ca0;

	border:none;

	cursor:pointer;

	font-size:14px;

	color:#fff;

	font-family:'OpenSans-Regular';

	display:block;

}

.form_wrapper .buttondiv .cancelbtn {

	width:100%;

	margin: 5px auto;

	height:50px;

	float:none;

	background:#008ca0;

	border:none;

	cursor:pointer;

	font-size:14px;

	color:#fff;

	font-family:'OpenSans-Regular';

	display:block;

}

.page_headweblock td{ display:block; width:100%;}

.page_headweblock .createbtn2{ float:none; margin:0 auto;}
.searchcon2{ width:280px; margin:0 auto; margin-top:10px;}
	.searchcon2 .searchbox2{  width:180px;}


}



@media screen and (max-width:600px) {

	.upcoming_event_body_wrapper .upcoming_event_body_wrapper_section h1 img{display: block; text-align: center; margin: 8px auto;}

	.contact_form_section .contact_form_section_input .contact_name{width: 100%; display: block; margin-right:0%;}
	.contact_form_section .contact_form_section_input .contact_email{width: 100%; display: block; margin-left:0%; float: none;}

}
@media screen and (max-width:500px) {

.folderdetail_link_div{ width:270px; margin:20px 0;}


	.home_block2 .home_block2_left{width: 100%;}
	.home_block2 .home_block2_right{text-align: center;}
	.home_block2 .home_block2_right .panel-default > .panel-heading .panel-title > a span{display: block; margin: 6px auto;}

	.home_appoinment_block .home_appoinment_block_content .home_appoinment_block_form{width: 100%;}
	.home_appoinment_block .home_appoinment_block_content .home_appoinment_block_form label{width: 100%; text-align: center; display: block; margin-bottom: 8px;}
	.home_appoinment_block .home_appoinment_block_content .home_appoinment_block_form input{width: 100%; display: block;}
	.home_appoinment_block .home_appoinment_block_content .home_appoinment_block_form select{width: 100%; display: block;}
	.home_appoinment_block .home_appoinment_block_content .home_appoinment_block_form textarea{width: 100%; display: block;}
	.home_appoinment_block .home_appoinment_block_content .home_appoinment_block_form .form_submit{display: block; margin: 15px auto; float: none;}

	.services_wrapper .services_body_block .services_body_block_content_top{font-size: 40px; text-shadow: -1px 4px 2px rgba(0, 0, 0, 0.6);}


	.psychiatry_body_section1 .psychiatry_body_section1_left .contact_body_section1_left_imgblock .psychiatry_body_imgtext1{font-size: 24px;}
	.psychiatry_body_section1 .psychiatry_body_section1_left .contact_body_section1_left_imgblock .psychiatry_body_imgtext2{font-size: 18px;}
}





@media screen and (max-width:480px) {

.top-div .right-con{ float:none; margin:0 auto; margin-top:30px; width:100%; }



.top-div .right-con .searchcon { float:none; margin:0 auto;}

.top-div .right-con .user-con{ float:none; margin:0 auto; margin-top:20px; background:url(../images/arrow.png) no-repeat  47% bottom; width:90%; padding-bottom:20px;}



.top-div .right-con .user-con .profileimg {

	width:40px;

	height:40px;

	border-radius:100px;

	float:none;

	border:solid 3px #d6d6d6; margin:0 auto;

}



.top-div .right-con .user-con h2 { float:none; margin:0 auto; text-align:center; padding:5px 0; width:100%;}



.table_body td .tlink1 { display:block; margin:5px auto; margin-bottom:10px;}

.table_body td .tlink2 {display:block; margin:5px auto; margin-bottom:10px;}

.table_body td .tlink3 { display:block; margin:5px auto; margin-bottom:10px;}

.table_body td .tlink4 {display:block; margin:5px auto; margin-bottom:10px;}



.left-menu {

	width:278px;

	float:none;

	margin:0 auto;

	

}

.left-menu ul {

	margin:0;

	padding:0;

	clear: both; overflow:hidden;

}

.left-menu ul li {

	list-style:none;

	margin:2px;

	border:solid 1px #d7d7d7;

	width:130px;

	height:130px;

	text-align:center;

	float:left;

}

.mainwrapper {

	margin:0 auto;

	padding:0 1%;

	float:none;

	overflow:hidden;



}

}


@media screen and (max-width:470px) {

	.page_headweblock .createbtn2{ width:120px;}

.searchcon2{ width:100%; margin:0 auto; margin-top:10px;}
	.searchcon2 .searchbox2{  width:96%; padding:5px 2%; float:none; margin:0 auto;}
	
	.searchdbtn2{ width:90px; float:none; margin:0 auto; margin-top:5px;}
}


/*@media screen and (max-width:470px) {



.left-menu {

	width:100%;

	float:none;

	margin-left:0;

}

.left-menu ul li { float:left; width:44%; margin:2%;}



}*/



@media screen and (max-width:390px) {

.folderdetail_link_div{ width:90%; margin:20px auto;}



.folderdetail_link_div .flink1{ display:block; margin-bottom:15px; min-width:60px; float:none; margin-right:0px; margin:5px auto}

.folderdetail_link_div .flink2{ display:block; margin-bottom:15px; min-width:60px; float:none; margin-right:0px; margin:5px auto}

.folderdetail_link_div .flink3{ display:block; margin-bottom:15px; min-width:60px; float:none; margin-right:0px; margin:5px auto}

.folderdetail_link_div .flink4{ display:block; margin-bottom:15px; min-width:60px; float:none; margin-right:0px; margin:5px auto}

.folderdetail_link_div .flink5{ display:block; margin-bottom:15px; min-width:60px; float:none; margin-right:0px; margin:5px auto}

.folderdetail_link_div .flink6{ display:block; margin-bottom:15px; min-width:60px; float:none; margin-right:0px; margin:5px auto}


	.home_appoinment_block .home_appoinment_block_content h1{font-size: 38px;}

	.services_wrapper .services_body_block .services_body_block_content_top{font-size: 30px;}

	.psychiatry_body_section1 .psychiatry_body_section1_left .contact_body_section1_left_imgblock .psychiatry_body_imgtext1{font-size: 20px;}
	.psychiatry_body_section1 .psychiatry_body_section1_left .contact_body_section1_left_imgblock .psychiatry_body_imgtext2{font-size: 16px;}

}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------staff-----------------------------------------------*/

@media screen and (max-width:1920px) {

	.gellary_body_wrapper .gellary_photo_text_block{margin-left: 12%;}
	.gellary_body_wrapper .gellary_video_text_block{margin-left: 12%;}

}
@media screen and (max-width:1600px) {
	.banner_text_block1 {position: absolute; top: 33%; left: 16%; width: 40%;}

	.banner_text_block2 {position: absolute; top: 33%; left: 20%; width: 40%;}

	.banner_text_block3 {position: absolute; top: 33%; left: 17%; width: 40%;}

	.banner_text_block4 {position: absolute; top: 33%; left: 19%; width: 40%;}
	.banner_text_area h1{font-size: 60px; line-height: 50px;}
	.banner_text_area h2{line-height: 50px;}
	.home_body_section{position: relative; top:-103px;}

	/*------------gellary-----------*/

	.gellary_body_wrapper .gellary_photo_text_block{margin-left: 4%;}
	.gellary_body_wrapper .gellary_video_text_block{margin-left: 4%;}

}
@media screen and (max-width:1366px) {

	.gellary_body_wrapper .gellary_photo_text_block{margin-left: 0%;}
	.gellary_body_wrapper .gellary_video_text_block{margin-left: 0%;}
}
@media screen and (max-width:1359px) {

	.gellary_body_wrapper .gellary_photo_text_block{margin: 0px auto; margin-top: 20px; width: 600px; text-align: center; background: url("../images/gellary_bodybg_img1.png") no-repeat top center; padding: 125px 0 0 0;}
	.gellary_body_wrapper .gellary_video_text_block{margin: 0px auto; width: 600px; text-align: center; background: url("../images/gellary_bodybg_img2.png") no-repeat top center; padding: 110px 0 0 0;}
}

@media screen and (max-width:1199px) {
	.banner_block{top: -193px;}

	.banner_text_block1{position: inherit; width: 100%; margin-top: 30px;}
	.banner_text_block2{position: inherit; width: 100%; margin-top: 30px;}
	.banner_text_block3{position: inherit; width: 100%; margin-top: 30px;}
	.banner_text_block4{position: inherit; width: 100%; margin-top: 30px;}
}

@media screen and (max-width:1100px) {
	.banner_block{top: -179px;}
	.home_body_section{position: relative; top:-164px;}
}

@media screen and (max-width:1224px) {
	.staff_wrapper{padding: 0px 15px;}
	.staff_body_wrapper{padding: 0px 15px;}
	.staff_body_gellary{padding: 0px 15px;}
	.gellary_block .gellary_block_right{width: 293px;}

	/*-------faq-------*/

	.faq_wrapper{height: 1620px;}
	.faq_body_main{width: 100%;}
	.faq_body_main_middle .faq_body_main_middle_top{top: 57px;}
	.faq_body_main_middle .faq_body_main_middle_top img{width: 100%;}
	.faq_body_main_bottom{bottom: -133px;}

	/*--------career------*/
	.career_wrapper{padding: 0 15px;}
	.career_body_wrapper{padding: 0px 15px;}
	.career_body_wrapper .career_body_wrapper_section{padding: 0px 15px;}
	.career_body_gellary{padding: 0px 15px;}
	.career_body_gellary .career_body_gellary_section{padding: 0px 15px;}

	/*-------------gellary----------*/

	.gellary_body_photo_container{width: 100%;}

	.gellary_body_photo_block .gellary_body_photo_img{height: 205px;}
	.gellary_body_photo_block .gellary_body_photo_img img{width: 100%;}
	.gellary_body_video_container{width: 100%;}

	.gellary_body_video_block .gellary_body_video_content{height: 205px;}


	/*---------------news-------------*/
	.news_wrapper{padding: 0 15px;}
	.news_wrapper .news_wrapper_top{padding: 0 15px;}
	.news_body_gellary{padding: 0px 15px;}

	/*---------familymedicine---------*/

	.familymedicine_wrapper{padding: 0 15px;}
	.familymedicine_body_wrapper{padding: 0px 15px;}
	.familymedicine_body_wrapper .familymedicine_body_wrapper_section{padding: 0 15px;}
	.familymedicine_body_gellary{padding: 0px 15px;}
	.familymedicine_body_block2_content{padding: 0px 15px;}
	.familymedicine_body_block3{padding: 0px 15px;}
	.familymedicine_body_block3 .familymedicine_body_block3_content{padding: 0px 15px;}
	.familymedicine_body_block4{ padding: 0 15px;}
	.familymedicine_body_block4_content{padding: 19px 0px; width: 98%; margin: 0 auto; float: none;}

	/*--------about-------*/

	.about_wrapper{padding: 0 15px;}
	.about_body_wrapper{padding: 0px 15px;}
	.about_body_wrapper .about_body_wrapper_section{padding: 0px 15px;}
	.about_body_block{padding: 66px 15px; width: inherit;}
	.about_body_block .about_body_block_col{padding: 0px 15px;}


}
@media screen and (max-width:1200px) {
	.faq_wrapper {
		margin-top: -193px;
	}
}
@media screen and (max-width:1199px) {

	.staff_body_main_section_top{width: 72%;}

	.gellary_block{padding: 15px;}
	.gellary_block .gellary_block_left{float: none; width: 100%; height: auto;}
	.gellary_block .gellary_block_left img{width: auto; display: block; margin: 0 auto; margin-bottom: 20px;}
	.gellary_block .gellary_block_right{float: none; width: 100%; text-align: center; padding: 0px; height: auto;}
	.gellary_block .gellary_block_right p{background: url("../images/staff_body_gellary_line.png") no-repeat bottom center;}
	.gellary_block .staff_detail{display: block; margin: 0 auto;}

	/*--------career-------*/

	.career_body_gellary .career_body_gellary_section{text-align: center;}
	.career_gellary_block1 p{background: none; padding: 30px 0;}
	.career_gellary_block2 p{background:none; padding: 30px 0;}

	.career_form_block .career_form_block_left ul li{text-align: left;}
	.career_form_block .career_form_block_right .career_form_section label{text-align: left; display: block;}

	/*-------------gellary----------*/

	.gellary_body_photo_block .gellary_body_photo_img{height: 169px;}
	.gellary_body_video_block .gellary_body_video_content{height: 169px;}

	/*-------------news-------------*/

	.news_body_gellary_block .news_body_gellary_block_right{width: 504px;}

	/*------familymedicine------*/
	.familymedicine_body_block4_content{background:#9aca42; padding: 19px 15px;}
	.familymedicine_body_block4_content_text{width: 100%; text-align: center; margin: 0px;}
	.familymedicine_body_block4_content_text .familymedicine_bookbtn{margin: 10px auto;}

	/*----------about--------*/

	.about_body_block{background: #f5f5f5; border: 3px solid #d9d9d9; padding: 22px 15px;}
	.about_body_block_content{margin: 0px auto;}

}
@media screen and (max-width:1100px) {
	.faq_wrapper {
		margin-top: -179px;
	}

}
@media screen and (max-width:991px) {

	.staff_body_wrapper .staff_body_wrapper_section{margin: 15px auto; text-align: center; padding: 0 15px;}
	.staff_body_wrapper .staff_body_wrapper_section h1{margin: 0; background: url("../images/staff_body_icon1.png") no-repeat top center; padding: 60px 0 0 0;}

	.staff_body_main_section_top{width: 100%;}
	.staff_body_main_section_top .staff_body_option{width: 75%;}
	.staff_body_main_section_top .staff_body_option{display: block; margin: 5px auto;}
	.staff_body_main_section_top .staff_name_checkbox{display: block; margin: 5px auto; text-align: center;}

	.staff_body_gellary_left{padding-left: 15px;}
	.staff_body_gellary_right{padding-right: 15px;}
	.staff_body_gellary_right .gellary_block{margin-left: 0px;}


	.staff_detail_popup{width: 90%; height: auto; padding: 15px;}
	.staff_detail_popup_left{float: none; width: 100%; height: auto;}
	.staff_detail_popup_left img{width: auto; height: auto; display: block; margin: 0 auto; margin-bottom: 15px;}
	.staff_detail_popup_right{float: none; width: 100%; padding: 0px; text-align: center;}
	.staff_detail_popup h2{background: url("../images/staff_body_gellary_line.png") no-repeat bottom center;}
	.gellary_popuplogo{float: none; display: block; margin: 10px auto;}


	/*-------faq-------*/
	.faq_wrapper{height: 1908px;}
	.faq_body_main_top{background: rgba(0, 0, 0, 0.5);}
	.faq_body_main_middle h1{text-align: center;}
	.faq_body_main_middle p{text-align: center;}
	.faq_body_main_middle{margin-top: 0px; height: auto;}
	.faq_body_main_middle .faq_body_main_middle_top{display: none;}
	.faq_body_main_middle .faq_body_main_middle_block1{padding-top: 30px;}
	.faq_body_main_middle .faq_body_main_middle_block1 h1{background: url("../images/faq_body_icon1.png") no-repeat top center; padding: 70px 0 15px 0;}
	.faq_body_main_middle .faq_body_main_middle_block2 h1{background: url("../images/faq_body_icon2.png") no-repeat center top; padding: 70px 0 15px 0;}
	.faq_body_main_middle .faq_body_main_middle_block3 h1{background: url("../images/faq_body_icon3.png") no-repeat center top; padding: 70px 0 15px 0;}
	.faq_body_main_middle .faq_body_main_middle_block4 h1{background: url("../images/faq_body_icon4.png") no-repeat center top; padding: 70px 0 15px 0;}


	/*----------career---------*/

	.career_body_wrapper .career_body_wrapper_section{margin: 20px 0; text-align: center;}
	.career_body_wrapper .career_body_wrapper_section h1{background: url("../images/career_body_icon1.png") no-repeat top center; padding: 60px 0 0 0; line-height: 30px;}
	.career_body_gellary{margin-top: 0px;}

	.career_form_block .career_form_block_left{width: 100%; float: none;}
	.career_form_block .career_form_block_left ul{padding-left: 0px;}
	.career_form_block .career_form_block_left ul li{text-align: center; background: url("../images/career_body_liststyle.png") no-repeat top center; padding: 10px 0 0 0;}
	.career_form_block .career_form_block_right{width: 100%; float: none;}
	.career_form_block .career_form_block_right .career_form_section label{text-align: left; display: block;}
	.career_form_block .career_form_block_right .career_form_section .career_input_left{width: 100%; float: none;}
	.career_form_block .career_form_block_right .career_form_section .career_input_right{width: 100%; float: none;}
	.career_form_block .career_form_block_right .career_form_section label{text-align: center;}
	.career_form_block .career_form_block_right .career_submitbtn{display: block; float: none; margin: 20px auto;}
	.career_form_block .career_form_block_right .resume_area{height: 110px; padding-top: 15px;}
	.career_form_block .career_form_block_right .resume_area span{display: block;}
	.career_form_block .career_form_block_right .resume_area .select_file{display: block; margin: 10px auto;}


	/*---------gellary---------*/

	.gellary_body_photo_block .gellary_body_photo_img{height: 129px;}
	.gellary_body_video_block .gellary_body_video_content{height: 129px;}

	/*-----------news----------*/

	.news_body_gellary .news_body_gellary_left{padding: 0 15px;}
	.news_body_gellary_block{width: 100%;}
	.news_body_gellary_block .news_body_gellary_block_left{float: none; margin: 0 auto; display: block;}
	.news_body_gellary_block .news_body_gellary_block_right{width: 96%; margin: 0px auto; margin-top: 20px; float: none; text-align: center;}
	.news_body_gellary .news_body_gellary_right{padding-right: 15px;}
	.news_body_gellary .news_body_gellary_right img{float: none; margin: 0 auto; margin-bottom: 15px; display: block; width: 60%;}


	/*-----------familymedicine---------*/

	.familymedicine_body_wrapper .familymedicine_body_wrapper_section{margin: 20px auto; text-align: center;}
	.familymedicine_body_wrapper .familymedicine_body_wrapper_section h1{background: url("../images/familymedicine_body_icon1.png") no-repeat top center; padding: 46px 0 0 0;}
	.familymedicine_body_gellary .familymedicine_body_gellary_left{padding-left: 15px;}
	.familymedicine_body_gellary .familymedicine_body_gellary_left img{width: 60%; margin: 0 auto; display: block;}
	.familymedicine_body_gellary_right{text-align: center; margin-top: 20px;}
	.familymedicine_body_gellary .familymedicine_body_gellary_right li{ background: url("../images/familymedicine_body_icon2.png") no-repeat center top; padding: 35px 0 0 0;}
	.familymedicine_body_block2_content .familymedicine_body_block2_line{width: 90%;}

	.familymedicine_body_block3 .familymedicine_body_block3_content p{text-align: center;}

	/*-------about--------*/

	.about_body_wrapper .about_body_wrapper_section{margin: 20px auto; text-align: center;}
	.about_body_wrapper .about_body_wrapper_section h1{background: url("../images/about_body_icon1.png") no-repeat top center; padding: 45px 0 0 0;}
	.about_body_block{text-align: center;}
	.about_body_block_content{width: 100%;}
	.about_body_block_content .about_body_block_content_text{width: 100%;}
	.about_body_block_content_bottom{text-align: center;}
	.about_body_block_content_bottom .foot_address_block1_content{background: url("../images/clinic_icon.png") no-repeat top center; padding:70px 0 0 0; height: auto; display: block; float: none;}
	.about_body_block_content_bottom .foot_address_block2_content{background: url("../images/phone_icon.png") no-repeat top center; padding:70px 0 0 0; height: auto; display: block; margin: 15px 0; float: none;}
	.about_body_block_content_bottom .foot_address_block3_content{background: url("../images/message_icon.png") no-repeat top center; padding:70px 0 0 0; height: auto; display: block; float: none;}

}

@media screen and (max-width:767px) {

	.gellary_body_wrapper .gellary_photo_text_block{width: 90%;}
	.gellary_body_wrapper .gellary_video_text_block{width: 90%;}

	.gellary_body_photo_block .gellary_body_photo_img{height: 250px; width: 50%;}
	.gellary_body_photo_block .gellary_body_photo_img img{width: 100%; height: 100%;}
	.gellary_body_video_block .gellary_body_video_content{height: 250px; width: 50%;}
	.gellary_body_video_block .gellary_body_video_content iframe{width: 100%; height: 100%;}

	#myCarousel_gellaryphoto .carousel-control.left{display: none;}
	#myCarousel_gellaryphoto .carousel-control.right{display: none;}

	#myCarousel_gellaryvideo .carousel-control.left{display: none;}
	#myCarousel_gellaryvideo .carousel-control.right{display: none;}

	/*-------familymedicine-------*/

	.familymedicine_body_block4_content{width: 100%;}

}


@media screen and (max-width:720px) {

	/*-------faq-------*/
	.faq_wrapper{background: none; height: auto; margin-bottom: 96px; padding-top: 0px; margin-top: 0px;}
}

@media screen and (max-width:600px) {

	.gellary_body_photo_block .gellary_body_photo_img{height: 200px; width: 50%;}
	.gellary_body_photo_block .gellary_body_photo_img img{width: 100%; height: 100%;}
	.gellary_body_video_block .gellary_body_video_content{height: 200px; width: 50%;}
	.gellary_body_video_block .gellary_body_video_content iframe{width: 100%; height: 100%;}
}

@media screen and (max-width:500px) {

	.gellary_wrapper img{width: 90%;}

	.gellary_body_photo_block .gellary_body_photo_img{height: 260px; width: 100%;}
	.gellary_body_photo_block .gellary_body_photo_img img{width: 100%; height: 100%;}
	.gellary_body_video_block .gellary_body_video_content{height: 260px; width: 100%;}
	.gellary_body_video_block .gellary_body_video_content iframe{width: 100%; height: 100%;}


}

@media screen and (max-width:500px) {

.staff_detail_popup_left img{width: 75%;}

	/*-----------news----------*/

	.news_body_gellary_block .news_body_gellary_block_bottom .gellary_block_edit{display: block; text-align: center; width: 100%;}
	.news_body_gellary_block .news_body_gellary_block_bottom .gellary_date{float: none; display: block; margin: 10px auto; width: 100%;}

}


@media screen and (max-width:1199px) {

	.top_menu_block{padding: 0px;}
	.top_menu_block .top_menu_block_right .navbar .container-fluid .navbar-collapse .navbar-nav{margin-top: 10px;}


	.top_menu_block .top_menu_block_right .navbar .container-fluid .navbar-collapse {
		padding: 0px;
	}


	.menu_text{display: inline-block;}


	.top_menu_block .top_menu_block_right .navbar-nav {
		background: #e9e9e9;
	}

	.top_menu_block .top_menu_block_right .navbar-nav > li {
		display: block;
		float: none;
		text-align: center;
		background: none;
		padding: 10px 0px;
		border-bottom: 1px solid #f8f8f8;
	}

	.top_menu_block .top_menu_block_right .navbar-nav > li:last-child {
		border-bottom: none;
	}
	.top_menu_block .top_menu_block_right .navbar-toggle .icon-bar {
		background: #fff;
	}

	.top_menu_block .top_menu_block_right .navbar-nav {
		display: block;
	}

	.top_menu_block .top_menu_block_right .navbar { background: #e0dfdf;
		float: none;
	}

	.top_menu_block .top_menu_block_right .navbar-toggle {
		display: block;
		background: #666;
		margin-right: 0px;
		margin-top: 7px;
	}

	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin: 7.5px -15px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in {
		display: block !important;
	}
}
@media screen and (max-width:767px) {

	.collapse.in {
		display: block !important;
		height: auto !important;
	}
}

/*----------------------------------end-staff-----------------------------------------------*/