@charset "utf-8";
/* CSS Document */
@font-face {
 font-family:'Generica-Regular';
 src: url('../fonts/Generica_gdi.eot');
 src: url('../fonts/Generica_gdi.eot?#iefix') format('embedded-opentype'),  url('../fonts/Generica_gdi.woff') format('woff'),  url('../fonts/Generica_gdi.ttf') format('truetype'),  url('../fonts/Generica_gdi.svg#Generica-Regular') format('svg');
 font-weight: 400;
 font-style: normal;
 font-stretch: normal;
 unicode-range: U+001D-2265;
}

 @font-face {
 font-family:'HarabaraMaisBold-HarabaraMaisBold';
 src: url('../fonts/HarabaraMaisBold-HarabaraMaisBold_gdi.eot');
 src: url('../fonts/HarabaraMaisBold-HarabaraMaisBold_gdi.eot?#iefix') format('embedded-opentype'),  url('../fonts/HarabaraMaisBold-HarabaraMaisBold_gdi.woff') format('woff'),  url('../fonts/HarabaraMaisBold-HarabaraMaisBold_gdi.ttf') format('truetype'),  url('../fonts/HarabaraMaisBold-HarabaraMaisBold_gdi.svg#HarabaraMaisBold-HarabaraMaisBold') format('svg');
 font-weight: 400;
 font-style: normal;
 font-stretch: normal;
 unicode-range: U+0020-221A;
}
 @font-face {
 font-family:'OpenSans-Bold';
 src: url('../fonts/OpenSans-Bold_gdi.eot');
 src: url('../fonts/OpenSans-Bold_gdi.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Bold_gdi.woff') format('woff'),  url('../fonts/OpenSans-Bold_gdi.ttf') format('truetype'),  url('../fonts/OpenSans-Bold_gdi.svg#OpenSans-Bold') format('svg');
 font-weight: 700;
 font-style: normal;
 font-stretch: normal;
 unicode-range: U+0020-25CA;
}
 @font-face {
 font-family:'OpenSans-BoldItalic';
 src: url('../fonts/OpenSans-BoldItalic_gdi.eot');
 src: url('../fonts/OpenSans-BoldItalic_gdi.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-BoldItalic_gdi.woff') format('woff'),  url('../fonts/OpenSans-BoldItalic_gdi.ttf') format('truetype'),  url('../fonts/OpenSans-BoldItalic_gdi.svg#OpenSans-BoldItalic') format('svg');
 font-weight: 700;
 font-style: italic;
 font-stretch: normal;
 unicode-range: U+0020-25CA;
}
 @font-face {
 font-family:'OpenSans-Extrabold';
 src: url('../fonts/OpenSans-Extrabold_gdi.eot');
 src: url('../fonts/OpenSans-Extrabold_gdi.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Extrabold_gdi.woff') format('woff'),  url('../fonts/OpenSans-Extrabold_gdi.ttf') format('truetype'),  url('../fonts/OpenSans-Extrabold_gdi.svg#OpenSans-Extrabold') format('svg');
 font-weight: 800;
 font-style: normal;
 font-stretch: normal;
 unicode-range: U+0020-25CA;
}
 @font-face {
 font-family:'OpenSans-Light';
 src: url('../fonts/OpenSans-Light_gdi.eot');
 src: url('../fonts/OpenSans-Light_gdi.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Light_gdi.woff') format('woff'),  url('../fonts/OpenSans-Light_gdi.ttf') format('truetype'),  url('../fonts/OpenSans-Light_gdi.svg#OpenSans-Light') format('svg');
 font-weight: 300;
 font-style: normal;
 font-stretch: normal;
 unicode-range: U+0020-25CA;
}
 @font-face {
 font-family:'OpenSans-Regular';
 src: url('../fonts/OpenSans_gdi.eot');
 src: url('../fonts/OpenSans_gdi.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans_gdi.woff') format('woff'),  url('../fonts/OpenSans_gdi.ttf') format('truetype'),  url('../fonts/OpenSans_gdi.svg#OpenSans-Regular') format('svg');
 font-weight: 400;
 font-style: normal;
 font-stretch: normal;
 unicode-range: U+0020-25CA;
}
 @font-face {
 font-family:'OpenSans-Semibold';
 src: url('../fonts/OpenSans-Semibold_gdi.eot');
 src: url('../fonts/OpenSans-Semibold_gdi.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Semibold_gdi.woff') format('woff'),  url('../fonts/OpenSans-Semibold_gdi.ttf') format('truetype'),  url('../fonts/OpenSans-Semibold_gdi.svg#OpenSans-Semibold') format('svg');
 font-weight: 600;
 font-style: normal;
 font-stretch: normal;
 unicode-range: U+0020-25CA;
}
body {
	background:#ffffff;
	font-family:'OpenSans-Regular';
	font-size:14px;
	color:#5f5f5f;
	margin:0;
	padding:0;
	overflow-x:hidden;
}
* {
	margin:0;
	padding:0;
}
.clear {
	clear:both;
}
a {
	text-decoration:none;
	outline:none;
}
a, a:visited {
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: none;
}
a:focus {
	outline: none;
	outline: none;
	outline-offset: inherit;
}
.top-contain {
	width:100%;
	padding:22px 0 0 0;
	position:absolute;
	top:0;
	z-index:99;
}
.top-contain .logo {
	width:228px;
	float:left;
}
.top-contain .logo img {
	width:100%;
}
.top-contain .top-right {
	width:420px;
	float:right;
	margin-top:5px;
}
.top-contain .top-right .icon-div {
	width:75px;
	float:left;
}
.top-contain .top-right .icon-div img {
	margin:0 8px;
}
.top-contain .top-right .signdiv {
	width:300px;
	float:left;
	text-align:center;
	font-size:16px;
	color:#008ca0;
}
.top-contain .top-right .signdiv a {
	font-size:16px;
	color:#008ca0;
	padding:0 2px;
}
.top-contain .top-right .signdiv a:hover {
	color:#2acde4;
}
.top-contain .top-right .menu-div {
	width:28px;
	float:right;
	position:relative;
}
.top-contain .top-right .menu-div img {
	width:100%;
}



.top-contain .top-right .menu-div .menuul{ position:absolute; top:20px; left:-80px; display:none; margin:0; padding:0; width:190px; background: url(../images/submenu.png) no-repeat top center; padding-top:9px;}

.top-contain .top-right .menu-div:hover .menuul{ display:block; }


.top-contain .top-right .menu-div .menuul ul{ margin:0; padding:0; border:solid 3px #008ca0; border-bottom:none; }
.top-contain .top-right .menu-div .menuul li{ list-style:none; text-align:center; border-bottom:solid 3px #008ca0;}

.top-contain .top-right .menu-div .menuul li a{ display:block; background:#f0f0f0; text-align:center; padding:6px 0; font-size:14px;
	color:#008ca0;}
	
	.top-contain .top-right .menu-div .menuul li a:hover{ color:#fff; background:#008ca0;}


.main-body {
	width:100%;
}
.home-banner {
	width:100%;
}
.homebody {
	width:100%;
	margin:50px auto;
}
.homebody h1 {
	font-family:'Generica-Regular';
	text-align:center;
	font-size:40px;
	color:#a2a2a2;
}
.homebody h1 span {
	color:#008ca0;
}
.homebody h1:after {
	content: "";
	display: block;
	background: #008ca0;
	height:1px;
	width:198px;
	margin:22px auto;
}
.homebody .text1 {
	text-align:center;
	font-size:14px;
	color:#5f5f5f;
	line-height:26px;
}
.homebody .text1 span {
	color:#008ca0;
}
.homebody .text1 h3 {
	font-size:18px;
	font-weight:normal;
	padding-bottom:40px;
}
.homebody .text1 h3 a {
	color:#5f5f5f;
}
.homebody .text1 h3 {
	font-size:17px;
	font-weight:normal;
}
.homebody .btn1 {background: #008ca0 url(../images/i6.png) no-repeat 37px center; width:278px; height:55px; margin:22px auto; border-radius:4px;}

.homebody .btn1 a {
	display:block;
	color:#fff;
	font-size:23px;
	line-height:55px;
	padding:0 0 0 76px;
	font-family:'OpenSans-Regular';
}
.homebody .text2 {
	margin:40px auto;
	margin-bottom:54px;
	background:#efeeee;
	padding:25px 60px;
	width:100%;
	border-radius:4px;
}
.homebody .text2 h2 {
	font-family:'Generica-Regular';
	text-align:center;
	font-size:40px;
	color:#a2a2a2;
}
.homebody .text2 .pic-div {
	width:82px;
	height:82px;
	border:solid 5px #fff;
	border-radius:100px;
	margin:10px auto;
	margin-top:24px;
}
.homebody .text2 .pic-div img {
	width:72px;
	height:72px;
	border-radius:100px;
}
.homebody .text2 .text-con {
	width:100%;
	font-size:14px;
	color:#5f5f5f;
	line-height:26px;
	text-align:center;
	margin:40px auto;
}
.homebody .text2 .text-con strong {
	font-weight:normal;
	color:#008ca0;
}
.homebody .text3 {
	width:100%;
	display:table;
	margin:25px 0;
	margin-bottom:40px;
	overflow:hidden;
}
.homebody .text3 .block1 {
	width:270px;
	margin-right:16px;
	background:#efeeee;
	border-radius:4px;
	text-align:center;
	vertical-align:middle;
	padding:40px 20px;
	font-size:40px;
	color:#5f5f5f;
	font-family:'Generica-Regular';
	float:left;
	min-height:324px;
}
.homebody .text3 .block2 {
	width:270px;
	margin-right:16px;
	float:left;
	min-height:324px;
	background:#efeeee;
	border-radius:4px;
	font-family:'OpenSans-Regular';
}
.homebody .text3 .block2 div {
	height:81px;
	width:100%;
	font-size:16px;
	color:#5f5f5f;
	text-align:center;
	line-height:81px;
	padding:0 10px;
}
 .homebody .text3 .block2 div:nth-child(even) {
background:#e2e2e2;
font-size:22px;
color:#008ca0;
}
.homebody .text3 .block2 div:last-child {
	border-radius:0 0 4px 4px;
}
.homebody .text3 .block2 .divblock {
	line-height:26px;
	padding:14px 0;
}
.homebody .text3 .block3 {
	width:270px;
	margin-right:16px;
	float:left;
	min-height:325px;
	background:#efeeee;
	border-radius:4px
}
.homebody .text3 .block3 div {
	height:81px;
	width:100%;
	font-size:16px;
	color:#5f5f5f;
	text-align:center;
	line-height:81px;
	padding:0 10px;
}
 .homebody .text3 .block3 div:nth-child(even) {
background:#e2e2e2;
font-size:22px;
color:#008ca0;
}
.homebody .text3 .block3 div:last-child {
	border-radius:0 0 4px 4px;
}
.homebody .text3 .block3 .divblock {
	line-height:26px;
	padding:14px 0;
}
.homebody .text3 .block4 {
	width:270px;
	margin-right:0;
	float:left;
	min-height:325px;
	background:#efeeee;
	border-radius:4px;
}
.homebody .text3 .block4 div {
	height:81px;
	width:100%;
	font-size:16px;
	color:#5f5f5f;
	text-align:center;
	line-height:81px;
	padding:0 10px;
}
 .homebody .text3 .block4 div:nth-child(even) {
background:#e2e2e2;
font-size:22px;
color:#008ca0;
}
.homebody .text3 .block4 div:last-child {
	border-radius:0 0 4px 4px;
}
.homebody .text3 .block4 .divblock {
	line-height:26px;
	padding:14px 0;
}
.footer-divfont {
	width:100%;
	margin-top:50px;
}
.footer-top {
	background:#008ca0;
	padding:28px 0;
}
.footer-top .footer-wrapper1 {
	width:235px;
	margin:0 auto;
	text-align:center;
	font-size:13px;
	color:#ffffff;
	overflow:hidden;
}
.footer-top .footer-wrapper1 a {
	font-size:13px;
	color:#ffffff;
	padding:0 5px;
}
.footer-top .footer-wrapper1 a:hover{ color:#bff6fe;}
.footer-top .footer-wrapper1 .icon-div2 {
	width:192px;
	margin:0 auto;
	margin-bottom:20px;
}
.footer-top .footer-wrapper1 .icon-div2 img {
	margin:0 8px;
}
.footer-bottom {
	margin:20px auto;
}
.copyright-text {
	width:350px;
	margin:20px 0;
	float:left;
	font-size:13px;
	color:#5f5f5f;
}
.footer-bottom .footer-logo {
	width:228px;
	float:right;
}
.footer-bottom .footer-logo img {
	width:100%;
}
.shutter {
	
	padding:0px;
	width:680px;
	margin:0 auto;
}

.shutter .shutter-close{ font-size:0px; width:76px; display:block; margin:0 auto; background:url(../images/close.png) no-repeat; height:76px;}

.shutter h2{ font-family:'Generica-Regular'; font-size:57px; color:#ffffff; padding:15px 0 18px 0; text-align:center; line-height:60px;}

.popupdevider{ width:198px; height:2px; background:#55b0bb; margin:0 auto;}

.shutter p{ padding:30px 0 0 0; font-family:'OpenSans-Regular'; font-size:14px; color:#fff; font-family:'OpenSans-Regular'; line-height:24px; text-align:center;}

.shutter input[type="text"]{ width:80%; height:50px; border:solid 1px #fff; border-radius:4px; padding:10px; margin:14px auto; background:none; display:block; color:#fff; font-size:14px;}

.shutter input[type="password"]{ width:80%; height:50px; border:solid 1px #fff; border-radius:4px; padding:10px; margin:28px auto; background:none; display:block; color:#fff; font-size:14px;}

.shutter .subbtn{ width:80%; height:55px; border:solid 1px #dedede; border-radius:4px; padding:0 10px; margin:28px auto; background:#008ca0 url(../images/i6.png) no-repeat  40% center; display:block; color:#fff!important;; font-size:24px;}

.Forgotlink{ width:100%; text-align:center; padding: 0; font-family:'OpenSans-Regular'; font-size:11px; color:#fff!important;}
.Forgotlink a{ color:#008ca0; display:inline-block;}
.Forgotlink a:hover{ text-decoration:underline;}

.modal-content input[type="email"] { color: #fff!important; border: solid 1px #fff;}

.modal-content input[type="password"] { color: #fff!important; border: solid 1px #fff;}

.Securelogin{ width:98px; background:url(../images/lockicon2.png) no-repeat left center; font-family:'OpenSans-Regular'; font-size:11px; color:#fff; margin:26px auto; padding:4px 0 4px 24px;}

.Securelogin a{ color:#fff;}


.signup-form-wrapper{ width:100%; margin:0 auto; }



.signup-form-left{ width:47%; float:left;}

.signup-form-right{ width:47%; float:right; margin-top: 45px;}

.form-horizontal .form-group{ margin-left:0px!important; margin-right:0px!important;}


.signup-form-wrapper input[type="text"]{ width:100%; background:#efeeee; border:solid 1px #dedede; padding:10px 2%; height:55px; border-radius:5px; margin:15px 0 15px 0; font-size:14px; color:#808080; font-family:'OpenSans-Regular';}


.signup-form-wrapper .inputdiv{ width:100%; background:#efeeee; border:solid 1px #dedede;  height:55px; border-radius:5px; margin:15px 0 15px 0; font-family:'OpenSans-Regular';}


.signup-form-wrapper .inputdiv input[type="text"]{ width:70%; background:#efeeee; border:none; padding:10px 2%; height:100%; border-radius:0; margin:0px 0 0px 0; font-size:14px; color:#808080; font-family:'OpenSans-Regular'; float: left;}


.signup-form-wrapper input[type="email"]{ width:100%; background:#efeeee; border:solid 1px #dedede; padding:10px 2%; height:55px; border-radius:5px; margin:15px 0 15px 0; font-size:14px; color:#808080; font-family:'OpenSans-Regular';}


.signup-form-wrapper input[type="password"]{ width:100%; background:#efeeee; border:solid 1px #dedede; padding:10px 2%; height:55px; border-radius:5px; margin:15px 0 15px 0; font-size:14px; color:#808080; font-family:'OpenSans-Regular';}


.signup-form-wrapper .dateofbirth{ width:100%;} 


.signup-form-wrapper .dateofbirth select{ width:96%; background:#efeeee; border:solid 1px #dedede; padding:10px; height:55px; border-radius:5px; margin:16px 0 0 0; font-size:14px; color:#808080; font-family:'OpenSans-Regular';}  


.signup-form-wrapper .dateofbirth  .dob_year{ margin-right:3%; width:31%;  float:left;}

.signup-form-wrapper .dateofbirth  .dob_month{ margin-right:3%; width:31%;  float:left;}

.signup-form-wrapper .dateofbirth  .dob_day{margin-right:0; width:31%;  float:left;}

.signup-form-wrapper  label{ font-size:14px; color:#5f5f5f; font-family:'OpenSans-Regular'; font-weight:normal; margin-top:20px; display:block;}

.signup-form-wrapper  label span{ color:#008ca0;}


.signup-form-wrapper .Plan-div{ margin:5px 0 0px 34px; font-family:'OpenSans-Regular'; font-weight:normal; line-height:30px; color:#b5b5b5; }
.signup-form-wrapper .Plan-div strong{ font-weight:normal; font-size:14px; display:inline-block; padding-left:5px; width:80%; float:left; }

.signup-form-wrapper .Plan-div input[type="radio"]{ width:30px; float:left; margin-top:8px;}

.signup-form-wrapper .Plan-div input[type="checkbox"]{ width:30px!important; float:left!important; margin-top:8px!important;}

.signup-form-wrapper .Plan-div strong span{color:#008ca0;}

.signup-form-wrapper .Paymentinfo{ margin:20px 0 25px 0; font-family:'OpenSans-Regular'; font-weight:normal;  }

.signup-form-wrapper .Paymentinfo img{ margin:2px auto; display:block;}


.signup-form-wrapper  select{  width:100%;  background:#efeeee; border:solid 1px #dedede; padding:10px; height:55px; border-radius:5px; margin:15px 0 15px 0; font-size:14px; color:#808080; font-family:'OpenSans-Regular';}  

.signup-form-wrapper  .ExpiryDatediv{ width:100%}

.signup-form-wrapper  .dob_year2{ width:49%; float:left; margin-right:0%;}  

.signup-form-wrapper  .dob_month2{ width:49%; float:left; margin-right:4%;}  

.signup-form-wrapper  .dob_month2 select{ width:98%;}


.signup-form-wrapper  .dob_year2 select{ width:98%;}


.registerbtn {
	background: #008ca0 url(../images/i6.png) no-repeat 102px center!important;
	width:390px;
	height:55px;
	margin:22px auto;
	border-radius:4px;
	border:none; display:block; margin:40px auto; cursor:pointer; text-align:left; font-size:22px; color:#fff;  font-family:'OpenSans-Regular'; padding-left:142px; 
}

.signup-form-wrapper span.errormsg{ font-size:12px; color:#ff0000;}

.videomain{width:60%; margin:40px auto; margin-bottom:50px;}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	

}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; border:solid 2px #ccc;
}


.fade.in {


	background:  url(../images/fadeout.png);
}



.tellink{ display:inline-block; float:left; color:#008ca0;  margin: 8px 0 0 138px; font-size:16px; background:url(../images/phoneicon2.png) no-repeat left center; padding: 10px 0 10px 40px;} 

.tellink:hover{color:#008ca0;}

.termsconditions-blog{ background:#ffffff; border:solid 4px #008ca0; border-radius:10px; padding:10px 20px;}

.termsconditions-blog h2{ margin:0!important; padding:20px 0 5px 0!important; color:#008ca0!important; font-size:40px!important; line-height:44px!important;}

.termsconditions-blog p{ margin:0; padding:25px 0; color:#333!important; text-align:left!important;}

.signupbtn {
    background: #008ca0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 40px !important;
    padding: 0 22px;
}
.signupbtn:hover{color:#fff;}

.p_strong{background:url(../images/abouticon.png) no-repeat center center; width:60px; height:60px; color:#008ca0; font-size:16px; text-align:center; line-height:61px; display:block; margin:0px auto; margin-bottom:10px;}

	span.errormsg { display:block; width:80%; margin:0 auto;}
.formgrouppopuomain{ margin:30px auto; width:80%;}

.formgrouppopuomain input[type="text"] {
    background: #f2f2ef !important;
    border: 1px solid #ccc!important;
    border-radius: 4px!important;
    color: #000!important;
    display: block!important;
    font-size: 14px!important;
    height: 50px!important;
    margin: 14px auto!important;
    padding: 10px!important;
    width: 100%!important;
}

.formgrouppopuomain textarea {
    background: #f2f2ef !important;
    border: 1px solid #ccc!important;
    border-radius: 4px!important;
    color: #000!important;
    display: block!important;
    font-size: 14px!important;
    height: 150px!important;
    margin: 14px auto!important;
    padding: 10px!important;
    width: 100%!important; resize:none;
}

.formgrouppopuomain .error{ font-size:12px; color:#ff0000;  width: 100%!important;}


.formgrouppopuomain .sendbtn{ background: #008ca0;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 40px !important;
    padding: 0 40px; border:none; cursor:pointer; margin:20px auto;}
	
	
